1. Handle Missing Data & Duplicate Data

In [ ]:
df.isnull().sum()             # Count nulls per column
df.dropna()                   # Drop rows with missing values
df.fillna(method='ffill')     # Fill nulls with missing values
df.drop_duplicates()          # Remove duplicate rows
df.replace(['old': 'new'])    # Replace values in dataframe

2. Inspect & Understand Your Data

In [ ]:
df.head()         # Shows first rows of data frame
df.info()         # Displays dataframe info and data types
df.describe()     # Shows summary statistics

3. Rename, Convert & Clean Columns

In [ ]:
df.rename(columns=['old': 'new'])       # Rename columns
df.astype(['col': 'type'])              # Change data type of column
df.drop(['col'], axis=1)                # Drop one or more columns
df.rest_index(drop=True)                # Reset index, drop old index

4. Filter, Slice & Select Rows

In [ ]:
df.loc[df['col'] = 'val']                    # Filter using condition
df.iloc[:5)                                  # Change data type of column
df'(df['col1'].isin([*val; 'val2']))         # Filter list of multiple values
df.query('col > 10 & col2 = 'yes')           # Query with expressions

5. Merge & Group Data

In [ ]:
pd.concat([df1, df2], axis=0)          # Concatenate rows
pd.merge(df1, df2, on= 'key')          # Merge on key
df.groupby('col').agg('vall': 'mean')  # Group & aggregate